.contador{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    }
    .cont{
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 5%;  
    }