.footerContenedor{
    display: flex;
    flex-direction: row;

}
.redes{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 2%;
}
