.icard {
  width: 500px;
  height: auto;
  margin-top: 3%;
}
.detail {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: nowrap;
  margin-top: 2%;
}
.detailImg {
  height: auto;
}
